body {
    font-family: 'Helvetica';
    margin: 10px;
    position: relative;
}

.sketch {
    margin: 0;
}

.sketch-svg {
    margin: 0 auto;
    border: 1px solid grey;
}

.sketch-control {
    margin: 0;
}

.sketch-control-element {
    display: inline-block;
    margin: 10px;
    border: 10px;
}

.selected {
    stroke: red;
    border: 1px solid black;
    background-color: transparent;
}

.point {
    fill: #999;
    stroke: #fff;
}

.point.selected {
    fill: red;
    fill-opacity: 1;
    stroke: brown;
}


.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
