body {
    font-family: 'Helvetica';
    margin: 10px;
    position: relative;
}

.app-control {
    display: inline-block;
    width: 100%;
    float: right;
}

.app-control-element {
    display: inline-block;
    float: right;
    margin: 10px;
    border: 10px;
}

.app-control-element.selected {
    border: 1px solid black;
    background-color: transparent;
}

line.grid-line {
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
    stroke-width: 1px;
}

.sketch {
    margin: 0;
    width: 47.5%;
    display: inline-table;
    float: initial;
        
}

.sketch-svg {
    margin: 5px;
    border: 1px solid grey;
}

.sketch-control-mode {
    float: left;
}

.sketch-control-preset {
    display: inline-flex;
    vertical-align: center;
    float: right;
}

.sketch-control-element {
    display: inline-flex;
    margin: 2px;
    border: 10px;
}

.sketch-control-element.selected {
    border: 1px solid black;
    background-color: transparent;
}

.mode-options {
    border: 1px solid black;
    display: inline-flex;
    float: left;
}

.transition {
    margin: 0;
    width: 96%;
    float: left;
    display:inline-block;
        
}

.transition-svg {
    margin: 0 auto;
    border: 1px solid grey;
}

.transition-control {
    float: left;
    border: 1px solid grey;
}

.transition-control-element {
    display: inline-block;
    margin: 2px;
    border: 10px;
}

label.transition-control-element {
    font-size: small;
}

input.transition-control-element {
    width: 5em;
}

input.selected-id {
    width: 4em;
}

.point {
    font-size: 30px;
    text-anchor: middle;
    cursor: pointer;
    fill-opacity: 0.8;
    stroke-width: 1;
}

.point > text {
    fill: #000;
    stroke: #111;
    pointer-events: none;
}

.point.selected {
    fill-opacity: 0.3;
    stroke-width: 5;
}

.point.selected > text {
    fill-opacity: 1;
    stroke: #111;
    stroke-width: 1;
}


.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
